body {
    background-color: #f4f4f4;
}

.rese {
    background-color: #f4f4f4;
}

.modal {
    visibility: hidden;
}

.header {
    display: flex;
    position: relative;
    height: 10vh;
    margin-bottom: 3vh;
}

.header__inner {
    width: 30%;
    display: flex;
    align-items: center;
    margin-left: 55px;
}

.rese-content {
    display: flex;
    justify-content: center;
}

.login,
.register {
    width: 30%;
    margin-top: 100px;
    box-shadow: 1px 1px 5px gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.login__text-item,
.register__text-item {
    display: block;
    background-color: blue;
    color: white;
    line-height: 36px;
    font-size: 14px;
    border-radius: 5px 5px 0 0;
    padding-left: 20px;
    }

.login-item {
    height: 35%;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.register-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.error__message {
    display: flex;
    justify-content: center;
    color: red;
}

.login__button,
.register__button {
    background-color: blue;
    color: white;
    border-radius: 5px;
    width: 80px;
    display: block;
    margin: 5px auto;
}

.login__button-item,
.register__button-item {
    font-size: 12px;
    line-height: 24px;
}

.login__form,
.register__form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0 0 5px 5px;
}

.fa-solid {
    margin-left: 15px;
}

.header__inner-menu {
    visibility: hidden;
}

.header__inner-menu:target {
    visibility: visible;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background-color: white;
}

.menu-btn {
    text-decoration: none;
}

.menu__content {
    position: absolute;
    top: 25%;
    left: 42%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.menu__content-btn {
    margin: 25px 0;
    color: blue;
    font-weight: bold;
    font-size: 24px;
    display: block;
}

.menu__content-link {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 24px;
    margin: 15px 0;
}

.close-btn {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 200%;
    text-decoration: none;
    background-color: blue;
    color: white;
    margin: 50px 0 0 100px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray;
}

.title {
    color: blue;
    font-size: 35px;
    font-weight: bold;
    margin-left: 15px;
}

@media screen and (max-width: 768px) {

    .login, .register {
        width: auto;
    }

    .login-item {
        height: auto;
    }

    .close-btn {
        margin: 0;
    }

    .error__message {
        display: flex;
        justify-content: center;
    }

    .error_text {
        margin: 0 15px;
    }
}

@media screen and (max-width: 480px) {

    .login, .register {
        width: auto;
    }

    .login-item {
        height: auto;
    }

    .close-btn {
        margin: 0;
    }

    .error__message {
        display: flex;
        justify-content: center;
    }

    .error_text {
        margin: 0 15px;
    }
}