.rese-create_notice_mail__content {
    width: 40%;
    margin: auto;
    background-color: blue;
    border-radius: 5px;
}

.content_inner {
    width: 80%;
    margin: auto;
}

.inner_item {
    display: flex;
    flex-direction: column;
}

.subject {
    padding-top: 20px;
}

.txt {
    margin: 20px 0;
}

label {
    color: white;
    margin-bottom: 3px;
}

.mail_txt {
    background-color: white;
    border-radius: 5px;
}

.btn {
    padding-bottom: 20px;
}

button {
    text-decoration: none;
    display: block;
    margin: auto;
}

@media screen and (max-width: 480px) {

    .rese-create_notice_mail__content {
        width: 90%;
    }
}

