.rese-edit_shop {
    display: flex;
    justify-content: center;
}

.edit-shop__content {
    width: 60%;
    background-color: blue;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-top: 20px;
}

.edit-shop__form {
    display: flex;
    flex-direction: column;
}

.content__inner {
    color: white;
    margin: 15px 0;
    padding-left: 5%;
    display: flex;
}

label {
    margin-right: 20px;
}

input {
    background-color: white;
    color: black;
    border-radius: 5px;
}

.detail {
    display: flex;
}

textarea {
    background-color: white;
    border-radius: 5px;
}

.form_btn {
    color: white;
    margin-bottom: 5%;
}

.form__inner {
    width: 70%;
}

@media screen and (max-width: 480px) {

    .edit-shop__content {
        width: 90%;
    }

    label {
        margin-right: 5%;
        font-size: small;
    }

    .image {
        font-size: x-small;
    }
}