input {
    padding-left: 10px;
    border-bottom: solid gray 0.5px;
    padding-left: 0px;
    margin-left: 10px;
    width: 80%;
}

.login-item:first-of-type {
    padding-top: 20px;
}

.login-item__button {
    text-align: right;
}
