.rese-mypage__content {
    width: 85%;
    margin: auto;
}

.user-name {
    margin-left: 570px;
    margin-bottom: 20px;
}

.mypage__text {
    display: inline-block;
    margin: 35px 0;
}

.rese-mypage__content h2:nth-of-type(3) {
    margin-left: 470px;
}

.rese-mypage__content-confirm {
    display: flex;
    justify-content: space-between;
}

.confirm__inner {
    width: 35%;
}

.confirm__item {
    background-color: blue;
    height: 270px;
    box-shadow: 1px 1px 5px gray;
    border-radius: 5px;
    margin: 0 0 20px 0;
    position: relative;
}

.confirm__item img {
    position: absolute;
    top: 45%;
    left: 70%;
}

.confirm__item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 80px;
}

.change__btn {
    color: white;
    text-decoration: none;
}

.confirm__item button {
    color: white;
}

.item-header__icon {
    margin-left: 20px;
}

.item-header__icon p {
    margin-left: 15px;
    display: inline-block;
    color: white;
}

.change-link {
    color: white;
    text-decoration: none;
}

table {
    margin: 20px 0 0 20px;
}

table tr {
    text-align: left;
    line-height: 35px;
}

table td {
    padding-left: 30px;
}

table th,td {
    color: white;
}

table tr:not(:last-child) {
    padding-bottom: 25px;
}

.qr_code {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.review_btn {
    color: white;
    text-decoration: none;
}

.rese-shop__item {
    width: 35%;
    height: 300px;
    margin: 0 50px 30px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray;
}

.shop__item-text {
    padding-top: 25px;
    padding-left: 10px;
}

.rese-shop__item-detail {
    display: flex;
    justify-content: space-between;
}

.rese-shop__item-img {
    width: 100%;
    height: 50%;
    border-radius: 5px 5px 0 0;
}

.rese-shop__item-img img {
    width: 100%;
    object-fit: cover;
    text-align: center;
    height: 100%;
    border-radius: 5px 5px 0 0;
}

.rese-shop__item-text {
    background-color: white;
    height: 50%;
    border-radius: 0 0 5px 5px;
}

.rese-shop__link {
    width: 100px;
    height: 30px;
    background-color: blue;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
    line-height: 30px;
}

.rese-shop__link a {
    text-decoration: none;
    color: white;
}

.rese-shop__link span {
    font-size: 12px;
}

.rese-shop__item-detail button {
    margin-top: 20px;
    margin-right: 15px;
}

.my-favorite-shop {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
}

.change {
    color: white;
    text-decoration: none;
}

td:last-of-type {
    display: flex;
}
