
.rese-change_reservation {
    height: 90vh;
    display: flex;
    justify-content: center;
}

.rese-detail__reservation {
    background-color: #0560f2;
    width: 40%;
    height: 95%;
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray;
    display: flex;
    flex-direction: column;
}

.reservation__text {
    display: flex;
    align-items: center;
    height: 15%;
}

.reservation__text h2 {
    color: white;
    margin-left: 30px;
}

.form__inner {
    background-color: white;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 30px;
    height: 30px;
    line-height: 30px;
}

.form__inner:first-of-type {
    width: 30%;
}

.form__inner:nth-child(n+2) {
    width: 85%;
    margin-top: 15px;
}

.form__inner select {
    width: 100%;
}

.error__message {
    color: red;
    margin: 5px 0 0 30px;
}

.rese-detail__reservation-confirm {
    background-color: #4087f7;
    width: 80%;
    height: 150px;
    margin: 20px 0 0 30px;
    border-radius: 5px;
}

table tr {
    color: white;
    text-align: left;
    font-size: 14px;
}

table th,
td {
    padding: 10px 0 0 20px;
}



.form__btn {
    background-color: blue;
    color: white;
    text-align: center;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    border-radius: 0 0 5px 5px;
}