.thanks {
    height: 90vh;
    display: flex;
    justify-content: center;
}

.thanks-content {
    background-color: white;
    width: 30%;
    height: 40%;
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thanks-content p {
    font-size: 22px;
    margin-bottom: 30px;
}

.thanks-content__link {
    height: 10%;
    display: flex;
    justify-content: center;
}

.thanks-content__link a {
    background-color: blue;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    width: 30%;
}

.thanks-content__link span {
    color: white;
    font-size: 12px;
    line-height: 24px;
}